# dependencies
node_modules/

# environment variables
.env

# prisma local files
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
